<p>Welcome to the playarea!</p>
<p>Play some of the games below</p>
<mat-list role="list">
    <a href="https://www.clickjogos.com.br/Jogos-online/Esportes/Bike-Mania-Arena-1">
        <mat-list-item role="list-item">
            Bike Mania 1
        </mat-list-item>
    </a>
    <a href="https://www.clickjogos.com.br/Jogos-online/Esportes/Bike-Mania-Arena-2">
        <mat-list-item role="list-item">
            Bike Mania 2
        </mat-list-item>
    </a>
    <a href="https://www.clickjogos.com.br/Jogos-online/Esportes/Bike-Mania-Arena-3">
        <mat-list-item role="list-item">
            Bike Mania On Ice
        </mat-list-item>
    </a>
</mat-list>
